.box {
    display: flex;
    flex-direction: column;
    border-style: groove;
    align-items: center;
    border-color: seagreen;
    box-shadow:
    inset #009688 0 0 0 5px, 
    inset #059c8e 0 0 0 1px, 
    inset #0cab9c 0 0 0 10px, 
    inset #1fbdae 0 0 0 11px, 
    inset #8ce9ff 0 0 0 16px, 
    inset #48e4d6 0 0 0 17px, 
    inset #e5f9f7 0 0 0 21px, 
    inset #bfecf7 0 0 0 22px;
    padding: 50px;
}

/* I want this to have the inset border and then a seashell border around the browser */

.calc {
    display: flex;
    flex-direction: column;
    border-style: groove;
    align-items: center;
    border-color: seagreen;
    box-shadow:
    inset #009688 0 0 0 5px, 
    inset #059c8e 0 0 0 1px, 
    inset #0cab9c 0 0 0 10px, 
    inset #1fbdae 0 0 0 11px, 
    inset #8ce9ff 0 0 0 16px, 
    inset #48e4d6 0 0 0 17px, 
    inset #e5f9f7 0 0 0 21px, 
    inset #bfecf7 0 0 0 22px;
}

.container {
    display: flex;
    flex-direction: row;
    border-style: hidden;
    background-color: aqua;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 0px;
    row-gap: 0px;
    justify-items: center;
    justify-content: center;
}

.extra {
    display:flex;
    flex-direction: column;
}

.extra1 {
    flex-grow: 2;
}

.button-2, 
.button-1,  
.button0,
.button1,
.button2,
.button3,
.button4,
.button5,
.button6,
.button7,
.button8,
.button9,
.operatorButton,
.extra0,
.extra1 {
    background-color: seagreen;
    display: flex;
    margin: 0px;
    justify-self: stretch;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color:aliceblue;
    font-weight: 800;
    height: 95px;
    width: 95px;
    border-color:antiquewhite;
}

.operators {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0px;
    row-gap: 0px;
    justify-items: center;
    justify-content: center;
}



.screen {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 358px;
    height: 100px;
    background-color: aqua;
    padding: 12px;
    font-size: xx-large;
    color:black;
    font-weight: 800;
    border-color:antiquewhite;
    border-radius: 24px;
}

.holding {
    height: 50px;
}

.display {
    height: 50px;

}